@{
    ViewData["Title"] = "Poule Set Up";
}

<div class="text-center">
    <h1 class="display-4">About this app</h1>
    <p>This poule simulation is built by David van der Sar as an assignment. If you have any questions regarding this assignment, please contact me via davidvandersar@gmail.com .</p>
</div>